<%= form_with(model: deworming, local: true) do |form| %>
  <% if deworming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deworming.errors.count, "error") %> prohibited this deworming from being saved:</h2>

      <ul>
      <% deworming.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.text_field :pet_id %>
  </div>

  <div class="field">
    <%= form.label :deworming_date %>
    <%= form.date_select :deworming_date %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
