<p id="notice"><%= notice %></p>

<h1>Vaccines</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th>Vaccine date</th>
      <th>Type of dose</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccines.each do |vaccine| %>
      <tr>
        <td><%= vaccine.pet %></td>
        <td><%= vaccine.vaccine_date %></td>
        <td><%= vaccine.type_of_dose %></td>
        <td><%= vaccine.place %></td>
        <td><%= link_to 'Show', vaccine %></td>
        <td><%= link_to 'Edit', edit_vaccine_path(vaccine) %></td>
        <td><%= link_to 'Destroy', vaccine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaccine', new_vaccine_path %>
